{% extends 'default.html.twig' %}

{% block contenido %}
    <h1>Especialidades</h1>
    <ul style="list-style-type:none">
        {% for especialidad in especialidades %}
            <li><a href="{{path('cuadro_especialidad', {'id':especialidad.id})}}">{{ especialidad.nombre }}<a></li>
        {% endfor %}
    </ul>

    {% if medicos is defined %}
        <h2>Médicos especializados en {{especialidades[0].nombre}} </h2>
        {% if medicos is empty %}
            <p>No hay médicos para esta especialidad.</p>
        {% else %}
            <ul style="list-style-type:none">
                {% for medico in medicos %}
                    <li>{{ medico.nombre }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ path('cuadrome') }}">Volver a la lista de especialidades</a>
    {% endif %}
{% endblock %}