{% extends 'default.html.twig' %}

{% block contenido %}
    <h1>Lista de Citas</h1>
    <ul>
        {% for cita in citas %}
            <li>{{ cita.nombre }} - {{ cita.dni }} - {{ cita.telefono }} - {{ cita.direccion }} - {{ cita.email }} - {{cita.especialidad.nombre}}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('nueva_cita') }}">Nueva Cita</a>
{% endblock %}